body {
  background-color: darkgray;
}

header, footer, h2, h3, h4{
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.App {
  position: relative;
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
}