.home-photo { grid-area: home-photo; }
.home-about { grid-area: home-about; }
.home-projects { grid-area: home-projects; }
.home-contact { grid-area: home-contact; }

.home-container {
    display: grid;
    grid-template-areas: 
    'home-photo'
    'home-about' 
    'home-projects' 
    'home-contact';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.home-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

@media all and (min-width: 800px) {
    .home-container{
        grid-template-areas: 
        'home-photo home-photo home-photo' 
        'home-about home-projects home-contact';
        margin-left: 5%;
        margin-right: 5%;
    }
}