.tile .right {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
}

.stack {
    margin-right: 10px;
}

.proj {
    flex-direction: column;
}

.tile-buttons {
    display: flex;
    justify-content: space-evenly;
}

.tile-buttons a {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    background-color: #A8BFB9;
    width: 150px;
    text-align: center;

    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.tile-buttons a:link    { color: black;  }
.tile-buttons a:visited { color: black;  }
.tile-buttons a:active  { color: black;  }

.tile-buttons a:hover   {
    background-color: white;
    color: black;
    width: 200px;

    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


@media all and (min-width: 800px) {
    .proj {
        flex-direction: row;
    }
}