.tile .right {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
}

.stack {
    margin-right: 10px;
}

.proj {
    flex-direction: column;
}

.tile-buttons {
    display: flex;
    justify-content: space-evenly;
}

.tile-buttons a {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
}

@media all and (min-width: 800px) {
    .proj {
        flex-direction: row;
    }
}